<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Neon" sequenceNumber="1490945269">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="4.6.3.v20170301-0400"/>
      <unit id="org.eclipse.rcp.feature.group" version="4.6.3.v20170301-0400"/>
      <unit id="org.eclipse.jdt.feature.group" version="3.12.3.v20170301-0400"/>
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.0.401.v20160901-1335"/>
      <unit id="org.eclipse.emf.feature.group" version="2.12.0.v20160526-0356"/>
      <unit id="org.eclipse.papyrus.infra.feature.feature.group" version="2.0.0.201703080851"/>
      <unit id="org.eclipse.papyrus.infra.gmfdiag.feature.feature.group" version="2.0.1.201703080851"/>
      <unit id="org.eclipse.papyrus.uml.diagram.feature.feature.group" version="2.0.1.201703080851"/>
      <unit id="org.eclipse.uml2.uml" version="5.2.3.v20170227-0935"/>
      <unit id="org.eclipse.gmf.runtime.diagram.ui" version="1.8.0.201606071959"/>
      <unit id="org.eclipse.emf.emfstore.client.ui.feature.feature.group" version="1.8.1.v20161125-1451"/>
      <unit id="org.eclipse.ocl.examples.classic.feature.group" version="5.2.1.v20160808-1416"/>
      <unit id="org.eclipse.ocl.examples.feature.group" version="6.1.2.v20161111-1812"/>
      <unit id="org.eclipse.wst.xml_core.feature.feature.group" version="3.8.2.v201702270442"/>
      <unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.8.2.v201702270442"/>
      <unit id="org.eclipse.pde.feature.group" version="3.12.3.v20170301-0400"/>
      <unit id="org.eclipse.jdt" version="3.12.3.v20170301-0400"/>
      <unit id="org.eclipse.team.svn.feature.group" version="4.0.4.I20170216-1700"/>
      <unit id="org.eclipse.egit.feature.group" version="4.6.1.201703071140-r"/>
      <unit id="org.eclipse.jgit.feature.group" version="4.6.1.201703071140-r"/>
      <unit id="org.eclipse.osgi" version="3.11.3.v20170209-1843"/>
      <repository id="eclipse-neon" location="http://download.eclipse.org/releases/neon/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.ease.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ease.ui.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ease.lang.javascript.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ease.lang.jvm.feature.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/ease/update/nightly"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.mockito" version="1.9.5.v201605172210"/>
      <unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
      <unit id="com.google.guava" version="15.0.0.v201403281430"/>
      <repository id="eclipse-orbit" location="http://download.eclipse.org/tools/orbit/R-builds/R20170307180635/repository"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.nebula.visualization.feature.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/nebula/releases/1.0.0"/>
    </location>
  </locations>
</target>
