<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="org.eclipse.ease.modules">
      <module category="org.eclipse.ease.category.system" class="org.eclipse.ease.modules.platform.UIModule" id="org.eclipse.ease.modules.platform.ui" name="UI" visible="true">
      </module>
      <module category="org.eclipse.ease.category.system" class="org.eclipse.ease.modules.platform.ResourcesModule" id="org.eclipse.ease.modules.platform.resources" name="Resources" visible="true">
      </module>
      <module category="org.eclipse.ease.category.system" class="org.eclipse.ease.modules.platform.ScriptingModule" id="org.eclipse.ease.modules.platform.scripting" name="Scripting" visible="true">
      </module>
      <module category="org.eclipse.ease.category.system" class="org.eclipse.ease.modules.platform.PlatformModule" id="org.eclipse.ease.modules.platform.platform" name="Platform" visible="true">
      </module>
   </extension>
   <extension
         point="org.eclipse.ease.ui.shell">
      <dropHandler
            class="org.eclipse.ease.modules.platform.dnd.ForkDropHandler"
            priority="5">
      </dropHandler>
   </extension>
   <extension
         point="org.eclipse.ease.ui.codeCompletionProvider">
      <codeCompletionProvider
            class="org.eclipse.ease.modules.platform.completion.ResourcesCompletionProvider">
      </codeCompletionProvider>
   </extension>

</plugin>
